body {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	background-image:url('../img/movie_theatre.jpg');
	background-position:center;
	background-position-y:-131px;
}

.x_axis, .y_axis path {
	fill: none;
	stroke: #000;
}

#rating_choice { float: left}

#tooltip {
	position: absolute;
	width: 220px;
	background: #000000;
	z-index: 1338;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	-moz-box-shadow: 1px 1px 1px #666;
	-webkit-box-shadow: 1px 1px 1px #666;
	box-shadow: 1px 1px 1px #666;
	pointer-events: none;
}

#tooltip .title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
    text-align:center;
}
 
#tooltip .detail {
    font-size: 12px;
    line-height: 14px;
    color: white;
}
 
#tooltip table {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    color: white;
    margin:0;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

#crosshairs line {
  fill: none;
  stroke: #ddd;
}

<<<<<<< HEAD
#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#date-chart {
  width: 920px;
=======
.container{
	width:978px;
>>>>>>> more info, box office scraper, styling changes
}